// ============================================================================
// Structure
// ============================================================================

$size__site-main: 100%;
$size__site-sidebar: 25%;

// ============================================================================
// Main breakpoints
// ============================================================================

$bp-smaller:                    28.125em; //450px
$bp-small:                      40em; //640px
$bp-med:                        56.25em; //900px
$bp-large:                      62.5em; //1000px
$bp-xl:                         75em; //1200px

// ==========================================================================
//	Layout
// ==========================================================================

$main-wrapper-width:            $bp-xl;

// ==========================================================================
//	Grid settings
// ==========================================================================

// This is the fixed gutter between columns
$grid-gutter:                   1em;

// This sets your class names
$grid-wrap-class:               "grid-wrap";
$grid-col-class:                "grid-col";
